/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-family: $font-main;
  background-color: $color-light-bg;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
