@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin d-flex ($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin background-image($bg-size) {
  background-repeat: no-repeat;
  background-size: $bg-size;
  background-position: center;
}

@mixin title {
  color: $color-title;
}

@mixin button-style {
  padding: 20px 38px;
  font-family: $font-main;
  font-size: 22px;
  line-height: 180%;
  color: $color-premium;
  border: 1px solid $color-premium;
  border-radius: 80px;
  background-color: transparent;
}

@mixin cssretina {

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}