@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin d-flex ($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin background-image($bg-size) {
  background-repeat: no-repeat;
  background-size: $bg-size;
  background-position: center;
}

@mixin breakpoint-down ($size){
  @media only screen  and (max-width: $size){
    @content;
  }
}

@mixin title {
  color: $color-title;
}

@mixin button-style {
  padding: 20px 38px;
  font-family: $font-main;
  font-size: 22px;
  line-height: 180%;
  color: $color-premium;
  border: 1px solid $color-premium;
  border-radius: 80px;
  background-color: transparent;
  cursor: pointer;
}

@mixin heading-style {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  font-family: $font-main;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #525596;

  &::before {
    margin-right: 30px;
    width: 80px;
    height: 1px;
    background-color: #525596;
    content: '';
  }
}

@mixin span-style {
  padding: 5px 8px;
  background-color: $color-premium-light;
  text-transform: uppercase;
  border-radius: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #252641;
}

@mixin cssretina {

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}