// COLORS
$color-light-bg: #E5E5E5;
$color-dark: #252641;
$color-premium-light: #F4C467;
$color-light: #fff;
$color-title: #2F327D;
$color-text: #696984;
$color-light-blue: #29B9E7;
$color-violet: #5B72EE;
$color-premium: #F48C06;

// FONTS
$font-main: 'Nunito Sans', sans-serif;
$font-stack: 'Poppins', sans-serif;
