.company {
  margin-bottom: 168px;
}

.company__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company__text {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: $color-text;
}

.company__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company__list-item:not(:last-child) {
  margin-right: 75px;
}

.company__list-img-google {
  width: 168px;
  height: 55px;
}

.company__list-img-netflix {
  width: 150px;
  height: 40px;
}

.company__list-img-airbnb {
  width: 160px;
  height: 50px;
}

.company__list-img-amazon {
  width: 154px;
  height: 42px;
}

.company__list-img-grab {
  width: 130px;
  height: 60px;
}

@include breakpoint-down(1280px) {
  .company__list {
    margin-top: -15px;
    margin-bottom: -15px;
    flex-wrap: wrap;
  }

  .company__list-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .company__text {
    font-size: 21px;
  }

  .company__list-img-google {
    width: 135px;
    height: 45px;
  }

  .company__list-img-netflix {
    width: 128px;
    height: 36px;
  }

  .company__list-img-airbnb {
    width: 135px;
    height: 45px;
  }

  .company__list-img-amazon {
    width: 120px;
    height: 36px;
  }

  .company__list-img-grab {
    width: 110px;
    height: 55px;
  }
}

@include breakpoint-down(780px){
  .company__text{
    margin-bottom: 25px;
    font-size: 16px;
  }

  .company__list-img-google {
    width: 120px;
    height: 35px;
  }

  .company__list-img-netflix {
    width: 110px;
    height: 26px;
  }

  .company__list-img-airbnb {
    width: 120px;
    height: 34px;
  }

  .company__list-img-amazon {
    width: 100px;
    height: 30px;
  }

  .company__list-img-grab {
    width: 90px;
    height: 35px;
  }
}

@include breakpoint-down(420px){
  .company__text{
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
  }

  .company__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .company__list-item:not(:last-child){
    margin: 20px 0;
  }
}