.company{
  margin-bottom: 168px;
}

.company__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company__text {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: $color-text;
}

.company__list{
  @include list-unstyled;
  display: flex; 
  align-items: center;
}

.company-list__item:not(:last-child){
  margin-right: 75px;
}

.google__logo{
  width: 168px;
  height: 55px;
}

.netflix__logo{
  width: 150px;
  height: 40px;
}

.airbnb__logo{
  width: 160px;
  height: 50px;
}

.amazon__logo{
  width: 154px;
  height: 38px;
}
.grab__logo{
  width: 130px;
  height: 60px;
}