.facility {
  margin-bottom: 160px;
}

.facility__inner {
  @include d-flex (center);
}

.facility__detail {
  margin-right: 65px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    top: 20%;
    right: -10px;
    z-index: 1;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: $color-premium-light;
    border-radius: 50%;
    content: '';
  }
}

.facility__title {
  position: relative;
  margin-bottom: 30px;
  width: 655px;
  color: $color-title;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;

  &::before {
    position: absolute;
    top: -10px;
    left: -28px;
    z-index: -1;
    width: 74px;
    height: 74px;
    background-color: $color-premium-light;
    border-radius: 50%;
    content: '';
  }
}

.facility__title-add {
  color: $color-premium;
}

.facility__text {
  margin-bottom: 30px;
  width: 700px;
  font-size: 24px;
  line-height: 180%;
}

.facility__link {
  color: $color-text;
  font-size: 22px;
  line-height: 180%;
  text-decoration: underline;
}

.facility__wrapper {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    top: -20px;
    z-index: -1;
    left: -20px;
    width: 130px;
    height: 130px;
    background-color: $color-light-blue;
    border-radius: 20px;
    content: '';
  }

  &::after {
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    width: 130px;
    height: 130px;
    background-color: $color-premium;
    border-radius: 20px;
    content: '';
  }
}

@include breakpoint-down(1500px) {
  .facility__img {
    width: 550px;
  }
}

@include breakpoint-down(1380px) {
  .facility__img {
    width: 500px;
  }

  .facility__detail {
    margin-right: 45px;
  }

  .facility__title {
    width: 550px;
    font-size: 30px;
  }

  .facility__text {
    margin-bottom: 20px;
    width: 580px;
    font-size: 20px;
  }
}

@include breakpoint-down(1180px) {
  .facility__title {
    width: 450px;
    font-size: 24px;

    &::before {
      width: 50px;
      height: 50px;
      top: -10px;
      left: -10px;
    }
  }

  .facility__text {
    font-size: 16px;
    width: 460px;
  }

  .facility__link {
    font-size: 18px;
  }
}

@include breakpoint-down(1050px) {
  .facility__detail::after {
    top: 30%;
    right: -25px;
    width: 20px;
    height: 20px;
  }

  .facility__img {
    width: 440px;
  }

  .facility__title {
    font-size: 19px;
    width: 400px;
  }

  .facility__text {
    font-size: 15px;
    width: 400px;
  }

  .facility__link {
    font-size: 15px;
  }
}

@include breakpoint-down(940px) {
  .facility__inner {
    flex-direction: column-reverse;
  }

  .facility__img {
    width: 100%;
  }

  .facility__wrapper {
    margin-bottom: 60px;
  }

  .facility__title {
    font-size: 22px;
    width: 100%;
  }

  .facility__text {
    width: 100%;
  }

  .facility__detail {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

@include breakpoint-down(780px) {
  .facility{
    margin-bottom: 120px;
  }

  .facility__wrapper {
    &::before {
      top: -10px;
      left: -10px;
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }

    &::after {
      bottom: -10px;
      right: -10px;
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }
  }
}

@include breakpoint-down (380px) {
  .facility{
    margin-bottom: 80px;
  }
  
  .facility__wrapper {
    &::before {
      top: -6px;
      left: -6px;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }

    &::after {
      bottom: -6px;
      right: -6px;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
  }

  .facility__title{
    font-size: 18px;
  }

  .facility__text{
    font-size: 14px;
  }

  .facility__link{
    font-size: 12px;
  }
}