.features{
  margin-bottom: 160px;
}

.features__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 180%;
  color: $color-title;
}

.features__description {
  text-align: center;
  font-size: 24px;
  line-height: 180%;
  color: $color-text;
  margin-bottom: 175px;
}

.features__wrapper {
  margin-bottom: 180px;
  @include d-flex (space-between);
  flex-direction: row;

  &:nth-child(even){
    flex-direction: row-reverse;
  }
}

.features__wrapper-holder-add{
  position: relative;

  &::before{
    position: absolute;
    top: -70px;
    left: 65px;
    z-index: -1;
    width: 140px;
    height: 140px;
    background-color: #33EFA0;
    border-radius: 50%;
    content: '';
  }

  &::after{
    position: absolute;
    bottom: 0;
    right: 85px;
    z-index: -1;
    width: 264px;
    height: 264px;
    background-color: #5B61EB;
    border-radius: 50%;
    content: '';
  }
}

.features__wrapper-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  color: $color-title;

  &-add {
    color: $color-premium;
  }
}

.features__wrapper-title--interface {
  margin-bottom: 50px;
  width: 540px;
}

.features__wrapper-title--tools{
  width: 390px;
}

.features__wrapper-title--management{
  width: 420px;
}

.features__wrapper-list {
  @include list-unstyled;
}

.features__wrapper-item {
  display: flex;
  align-items: center;

  &::before {
    padding: 18px 15px;
    margin-right: 42px;
    background-color: #fbfbfb;
    box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
    @include background-image(28px 26px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    content: '';
  }

  &:first-child::before{
    background-image: url(../../icon/menu-icon.svg);
  }

  &:nth-child(2)::before{
    background-image: url(../../icon/copy-icon.svg);
  }

  &:last-child::before{
    background-image: url(../../icon/users-dark.svg);
    background-size: 30px 22px;
  }
}

.features__wrapper-item {
  margin-bottom: 40px;
}

.features__wrapper-text {
  width: 440px;
  font-size: 22px;
  line-height: 180%;
  color: $color-text;
}

.tools--text{
  width: 580px;
}

.management--text{
  width: 640px;
}

.discuss--text{
  width: 540px;
}

.features__button{
  @include d-flex(center);
}

.features__btn{
  @include button-style;
}

@include breakpoint-down (1480px){
  .features__wrapper-title{
    font-size: 30px;
    width: 440px;
  }

  .features__wrapper-item::before{
    margin-right: 30px;
  }

  .features__wrapper-text{
    font-size: 16px;
    width: 350px;
  }

  .features__wrapper-img{
    width: 800px;
  }
}

@include breakpoint-down (1320px){
  .features__wrapper-title{
    font-size: 25px;
    width: 350px;
  }

  .features__wrapper-item::before{
    margin-right: 15px;
  }

  .features__wrapper-text{
    font-size: 16px;
    width: 320px;
  }

  .features__wrapper-img{
    width: 700px;
  }
}

@include breakpoint-down (1180px){
  .features__wrapper-title{
    font-size: 20px;
    width: 300px;
  }

  .features__wrapper-item::before{
    margin-right: 12px;
  }

  .features__wrapper-text{
    font-size: 15px;
    width: 280px;
  }

  .features__wrapper-img{
    width: 620px;
  }
}

@include breakpoint-down(1050px){
  .features__wrapper{
    margin: 0 auto 100px;
    flex-direction: column;

    &:nth-child(even){
      flex-direction: column;
    }
  }

  .features__wrapper-holder-add{
    &::after{
      position: absolute;
      bottom: 100px;
      right: 68px;
      z-index: -1;
      width: 224px;
      height: 224px;
      background-color: #5B61EB;
      border-radius: 50%;
      content: '';
    }
  }

  .features__wrapper-title{
    font-size: 20px;
    width: 100%;
    font-size: 30px;
  }

  .features__wrapper-item{
    margin-right: 10px;
  }

  .features__wrapper-text{
    font-size: 20px;
    width: 100%;
  }

  .features__wrapper-img{
    width: 100%;
    margin-bottom: 120px;
  }
}

@include breakpoint-down(780px){
  .features__description{
    margin-bottom: 120px;
  }

  .features__wrapper-holder-add{
    &::after{
      position: absolute;
      bottom: 130px;
      right: 68px;
      z-index: -1;
      width: 150px;
      height: 150px;
      background-color: #5B61EB;
      border-radius: 50%;
      content: '';
    }

    &::before{
      top: -30px;
      left: 45px;
      width: 100px;
      height: 100px;
      content: '';
    }
  }

  .features__btn{
    padding: 15px 28px;
    font-size: 18px;
  }
}

@include breakpoint-down(540px){
  .features__title{
    font-size: 26px;
  }

  .features__description{
    font-size: 20px;
    margin-bottom: 90px;
  }

  .features__wrapper-title{
    font-size: 24px;
  }

  .features__wrapper-text{
    font-size: 18px;
  }

  .features__btn{
    padding: 12px 22px;
  }
}