.header{
  margin-bottom: 210px;
}

.header__inner {
  @include d-flex(space-between);
}

.header__logo {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #113C49;
  position: relative;
  z-index: 1;

  &::before{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -14px;
    margin: auto;
    background-image: url(../../icon/logo-icon.svg);
    @include background-image (contain);
    width: 65px;
    height: 65px;
    content: '';
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 80px;
}

.header__nav-link {
  font-size: 22px;
  font-weight: normal;
  line-height: 33px;
  color: #252641;
}

.header__nav-btn {
  margin-right: 34px;
  padding: 13px 50px;
  border: none;
  border-radius: 80px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;


  &:last-child {
    margin-right: 0;
  }
}

.header__nav-btn-login{
  background-color: $color-light;
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
}

.header__nav-btn-sign {
  background-color: $color-premium;
  color: $color-light;
}