.integrations {
  margin-bottom: 170px;
}

.integrations__inner {
  @include d-flex(center);
}

.integrations__list {
  @include list-unstyled;
  width: 450px;
  @include d-flex(space-between);
  flex-wrap: wrap;
  margin: -42px 290px -42px 0;
}

.integrations__item {
  margin: 42px 0;
}

.integrations__entrance {
  @include heading-style;
}

.integrations__title {
  margin-bottom: 30px;
  width: 480px;
  font-family: $font-main;
  font-weight: bold;
  font-size: 36px;
  line-height: 160%;
  color: $color-title;

}

.integrations__title-add {
  color: $color-premium;
}

.integrations__text {
  margin-bottom: 44px;
  width: 700px;
  font-family: $font-main;
  font-size: 24px;
  line-height: 180%;
  color: $color-text;
}

.integrations__btn {
  font-family: $font-stack;
  @include button-style;
}

@include breakpoint-down(1480px){
  .integrations__list{
    margin-right: 200px;
  }

  .integrations__entrance{
    font-size: 18px;
  }

  .integrations__title{
    font-size: 28px;
  }

  .integrations__text{
    width: 480px;
    font-size: 18px;
  }

  .integrations__btn{
    padding: 15px 25px;
    font-size: 18px;
  }

  .integrations__img{
    width: 120px;
    height: 120px;
  }
}


@include breakpoint-down(1050px){
  .integrations__list{
    margin-right: 100px;
  }

  .integrations__entrance{
    font-size: 16px;

    &::before{
      width: 50px;
    }
  }

  .integrations__title{
    font-size: 25px;
    width: 410px;
  }

  .integrations__text{
    width: 410px;
    font-size: 16px;
  }
}

@include breakpoint-down(880px){
  .integrations__inner{
    flex-direction: column;
  }

  .integrations__list{
    margin-right: 0;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
  }

  .integrations__content{
    text-align: left;
  }

  .integrations__title{
    font-size: 25px;
    width: 100%;
  }

  .integrations__text{
    width: 100%;
    font-size: 16px;
  }
}

@include breakpoint-down(620px){
  .integrations__img{
    width: 90px;
    height: 90px;
  }
}

@include breakpoint-down(420px){
  .integrations__btn{
    padding: 12px 18px;
    font-size: 16px;
  }
}