.software{
  margin-bottom: 158px;
}

.software__inner {
  text-align: center;
}

.software__title {
  margin-bottom: 24px;
  text-align: center;
  color: $color-title;
  font-size: 36px;
  line-height: 180%;

  &-add {
    color: $color-premium;
  }
}

.software__desc {
  margin: 0 auto 160px;
  width: 790px;
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
  color: #696984;
}

.software__features {
  @include d-flex(center);
}

.software-features__item {
  position: relative;
  margin-right: 60px;
  padding: 122px 60px 50px;
  min-height: 450px;
  text-align: center;
  background-color: $color-light;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;

  &:last-child {
    margin-right: 0;
  }

  &::before{
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 28px 34px;
    background-image: url(../../icon/file.svg);
    background-repeat: no-repeat;
    background-size: 34px 46px;
    background-position: center;
    background-color: $color-violet;
    width: 100px;
    height: 100px;
    box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.1);
    border-radius: 50%;
    content: '';
  }

  &:nth-child(2)::before{
    background-color: $color-premium;
    background-size: 48px 48px;
    background-image: url(../../icon/calendar.svg);
  }

  &:last-child::before{
    background-color: $color-light-blue;
    background-image: url(../../icon/users.svg);
    background-size: 55px 38px;
  }
}

.software-features__title {
  margin-bottom: 24px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-title;
  font-style: 400;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.software-features__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 180%;
  color: $color-text;
}