.testimonial {
  margin-bottom: 250px;
}

.testimonial__inner {
  display: flex;
}

.testimonial__content {
  margin-right: 180px;
}

.testimonial__entrance {
  @include heading-style;
}

.testimonial__title {
  margin-bottom: 30px;
  color: $color-title;
  font-family: $font-main;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
}

.testimonial__list {
  @include list-unstyled;
}

.testimonial__item {
  margin-bottom: 32px;
}

.testimonial__desc {
  width: 560px;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: $color-text;
}

.testimonial__item-context {
  margin-bottom: 46px;
}

.testimonial__item-last {
  margin-bottom: 42px;
}

.testimonial__btn {
  position: relative;
  padding: 20px 106px 20px 38px;
  font-family: $font-stack;
  font-size: 22px;
  line-height: 180%;
  color: $color-premium;
  border: 1px solid $color-premium;
  border-radius: 80px;
  border-right: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../../icon/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    content: '';
  }
}

.testimonial__holder {
  position: relative;
}

.testimonial__holder-btn {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background-image: url(../../icon/vector.svg);
  @include background-image(12px 20px);
  background-color: #fff;
  box-shadow: 0px 4px 60px rgba(41, 44, 124, 0.15);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  content: '';
}

.testimonial__img {
  position: relative;
  display: block;
}

.testimonial__comment {
  position: absolute;
  right: -170px;
  bottom: -120px;
  padding: 42px 48px;
  background-color: #fff;
  box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
  border-radius: 20px;

  &::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 100%;
    background-color: #F77766;
    border-radius: 20px 0px 0px 20px;
    content: '';
  }
}

.testimonial__comment-text {
  margin-bottom: 32px;
  width: 560px;
  font-family: $font-main;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: $color-text;
  display: flex;
  align-items: center;

  &::before {
    margin-right: 32px;
    width: 1px;
    height: 140px;
    background-color: #BDBDD1;
    content: ''
  }
}

.testimonial__comment-info {
  @include d-flex(space-between);
}

.testimonial__comment-name {
  font-family: $font-main;
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
}

.testimonial__comment-details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.testimonial__comment-img {
  margin-bottom: 12px;
  display: block;
}

.testimonial__comment-desc {
  display: inline-block;
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: $color-text;
}

@include breakpoint-down(1540px){
  .testimonial__title{
    font-size: 45px;
  }

  .testimonial__content{
    margin-right: 80px;
  }

  .testimonial__desc{
    font-size: 20px;
    width: 480px;
  }

  .testimonial__btn{
    padding: 16px 90px 16px 30px;

    &::after{
      width: 70px;
      height: 70px;
    }
  }
  
  .testimonial__comment-text {
    margin-bottom: 32px;
    width: 480px;
    font-family: $font-main;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: $color-text;
    display: flex;
    align-items: center;
  
    &::before {
      margin-right: 32px;
      width: 1px;
      height: 100px;
      background-color: #BDBDD1;
      content: ''
    }
  }

  .testimonial__comment-name {
    font-size: 20px;
  }
  
  .testimonial__comment-desc {
    display: inline-block;
    font-family: $font-main;
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: $color-text;
  }
}

@include breakpoint-down(1100px){
  .testimonial__comment {
    padding: 28px 38px;
    right: 0;
    left: 0;
    margin: auto;
  
    &::before{
      width: 14px;
      height: 280px;
    }
  }

  .testimonial__inner{
    align-items: center;
  }

  .testimonial__content{
    margin-right: 30px;
  }

  .testimonial__holder-btn{
    display: none;
  }

  .testimonial__desc{
    width: 380px;
    font-size: 16px;
  }

  .testimonial__btn{
    padding: 14px 70px 14px 25px;
    font-size: 18px;
    line-height: 20px;

    &::after{
      width: 50px;
      height: 50px;
    }
  }
}

@include breakpoint-down (980px){
    .testimonial__comment{
    display: none;
  }
  .testimonial {
    margin-bottom: 140px;
  }

  .testimonial__title{
    font-size: 34px;
    line-height: 42px;
  }

  .testimonial__entrance{
    margin-left: 10px;
    font-size: 18px;

    &::before{
      width: 60px;
    }
  }

  .testimonial__holder{
    display: none;
  }

  .testimonial__desc{
    width: 100%;
    font-size: 18px;
  }
}

@include breakpoint-down(420px){
  .testimonial {
    margin-bottom: 80px;
  }

  .testimonial__btn{
    padding: 15px;
    border-right: 1px solid $color-premium;
  }

  .testimonial__btn::after{
    display: none;
  }  
}
